main.cart-main {
    max-width: 1500px;
}

.cart-item-list {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.cart-item-list > .cart-item {
    align-self: stretch;
    position: relative;
    display: grid;
    grid-template-columns: minmax(200px, 500px) minmax(300px, 1000px) minmax(100px, 200px);
    grid-template-rows: 40px minmax(0, 1fr);
    grid-template-areas:
    "image title price"
    "image specs specs";
    column-gap: 5%;
    row-gap: 20px;
}

.cart-item-list > .cart-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -50px;
    background-color: var(--quaternary);
}

.cart-item-list > .cart-item > .cart-item-image {
    grid-area: image;
    aspect-ratio: 1/1;
}

.cart-item-list > .cart-item > .cart-item-title {
    grid-area: title;
    font-size: 25px;
}

.cart-item-list > .cart-item > .cart-item-price {
    grid-area: price;
    font-size: 22px;
    font-weight: 500;
    color: var(--text-opaque);
    text-align: right;
}

.cart-item-list > .cart-item > .cart-item-specs {
    grid-area: specs;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cart-item-list > .total-price-container {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 30%;
}

.cart-item-list > .total-price-container > .total-price-label {
    font-size: 20px;
}

.cart-item-list > .total-price-container > .total-price {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-opaque);
}
