@keyframes loopGradientHorizontally {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

body {
    background-color: var(--background);
}

.text {
    color: var(--text);
}

header {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    height: 45px;
    background-color: var(--background);
    border-bottom: solid 1px var(--secondary);
    padding: 0 15px 0 0;
    z-index: 100;
}

.menu-container {
    background-color: unset;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-container:hover {
    background-color: var(--quaternary);
}

.menu-container:hover > .menu{
    translate: 0;
}

.menu-button {
    min-height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    font-size: 20px;
    color: var(--primary);
    translate: -1px -1px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.menu-button:hover > .menu-icon{
    color: var(--accent);
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 45px;
    border-radius: 0 10px 10px 10px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
    background-color: inherit;
    padding: 15px 25px 15px 15px;
    translate: -100%;
    transition: background-color 0.3s ease-in-out, translate 0.3s ease-in-out;
}

.menu > .menu-item {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    transition: all .3s ease;
    cursor: pointer;
}

.menu > .menu-item:hover {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    scale: 1.1;
    translate: 5% -2px;
}

.menu > .menu-item::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 3px;
    display: block;
    opacity: 50%;
    translate: -100%;
    opacity: 20%;
    scale: 0 0;
    transition: all .6s ease;
}

.menu > .menu-item:hover::before {
    opacity: 50%;
    translate: 0%;
    scale: 1 1;
    transition: all .3s ease;
}

.menu > .menu-item:nth-child(odd)::before {
    background: var(--accent);
}

.menu > .menu-item:nth-child(even)::before {
    background: var(--primary);
}

.logo-container {
    max-width: 50px;
}

.logo {
    cursor: pointer;
    background: linear-gradient(120deg, var(--primary) 15%, var(--accent)50%, var(--primary) 85%);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-weight: 800;
    background-position: 100% 50%;
    animation: loopGradientHorizontally 20s linear infinite;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;

    margin: 0 auto;
    position: relative;
}

.search-bar > button {
    position: absolute;
    right: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.search-bar > button > .search-icon {
    font-size: 20px;
    color: var(--secondary);
    transition: color 0.3s ease-in-out;
    translate: 0 2px;
}

.search-bar > button:hover > .search-icon {
    color: var(--text-opaque);
}

.search-bar > .search-input {
    width: 100%;
    height: 65%;
    border: none;
    outline: none;
    padding: 0 40px 0 15px;
    border-radius: 10px;
    background-color: var(--tertiary);
    border: 1px solid var(--secondary);
    transition: all 0.3s ease-in-out;
    color: var(--text);
}

.search-input:focus {
    box-shadow: 0 0 5px #000000a0;
    background-color: var(--background);
}

.search-input::placeholder {
    color: var(--text-opaque);
}

.login-button {
    font-size: 15px;
    font-weight: 500;
    color: var(--primary);
    background-color: var(--background);
    width: 125px;
    height: 27px;
    cursor: pointer;
    border: 2px solid var(--primary);
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.login-button:hover {
    color: var(--background);
    background-color: var(--primary);
}

.cart-icon {
    font-size: 24px;
    color: var(--text-opaque);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.cart-icon:hover {
    color: var(--primary);
    scale: 1.05;
    rotate: -10deg;
}

.banner {
    height: 580px;
    width: 100%;
    background-color: var(--primary);
    opacity: 1;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, var(--primary) 18px), repeating-linear-gradient(#12ccd955, #12ccd9);
}

.main-section {
    display: inline-grid;
    grid-template-columns: 315px 1fr;
    width: 100%;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: max-content;
    padding: 50px clamp(10px, 1.5vw, 25px) 30px clamp(20px, 3vw, 50px);
    background-color: var(--tertiary);
    float: left;
}

.filter-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    max-width: max-content;
}

.filter-item-content-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.filter-item-content-item-grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.filter-item-content-item > label, .filter-item-content-item-grid > label {
    font-size: 14px;
}

.filter-item-content-item-grid > .price {
    font-size: 12px;
}

.filter-item-content-item-grid>input[type="range"] {
    max-width: 70px;
    /* -webkit-appearance: none;
    appearance: none;
    background: transparent;
    outline: none;
    cursor: pointer;*/
}

/*
.filter-item-content-item-grid>input[type="range"]::-webkit-slider-runnable-track,
.filter-item-content-item-grid>input[type="range"]::-ms-track,
.filter-item-content-item-grid>input[type="range"]::-moz-range-track {
    background: var(--quaternary);
    height: 15px;
    border-radius: 15px;
}

.filter-item-content-item-grid>input[type="range"]::-webkit-slider-thumb,
.filter-item-content-item-grid>input[type="range"]::-ms-thumb,
.filter-item-content-item-grid>input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: var(--accent);
}
*/

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: center;
    padding: 50px 15px; 
    column-gap: 35px;
    row-gap: 50px;
    border: 1px solid var(--secondary);
}

.products-grid > .product-card {
    box-shadow: 0 0 15px #00000066;
    border-radius: 15px;
    height: 436px;
    width: 270px;
    overflow: hidden;
    transition: all .4s ease-out;
}

.products-grid > .product-card:hover {
    translate: 0 -10px;
    scale: 1.05;
    box-shadow: 0 10px 30px #00000066;
}

.products-grid > .product-card > .product-card-image {
    height: 230px;
    width: 100%;
    background-size: cover;
}

.products-grid > .product-card > .product-card-image > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.products-grid > .product-card > .product-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    height: 206px;
}

.products-grid > .product-card > .product-card-content > .card-text> .product-card-title{
    font-size: 20px;
    margin-bottom: 8px;
}

.products-grid > .product-card > .product-card-content > .card-text> .product-card-price{
    font-size: 14px;
}

.products-grid > .product-card > .product-card-content > .product-card-button {
    align-self: center;
    width: 159px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--quaternary);
}

footer {
    position: relative;
    height: 380px;
    width: 100vw;
    bottom: 0;
    background-color: var(--tertiary);
    border-top: solid 1px #00000066;
    box-shadow: 0px -2px 10px #00000066;
}